@import './devices';
@import './controls';
@import './admin';
@import './device-types';
@import './edit-device-type';
$background: #eee;

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
	cursor: pointer;
}

.select-wrapper {
	border: 1px solid #27ae60;
	width: 100%;
	padding: 0.5rem;
	overflow: hidden;
	position: relative;
	margin: 1rem 0 0.5rem;

	select {
		background: transparent;
		border: 0;
		width: 120%;
		font-size: 1rem;
	}
	select:focus {
		outline: 0;
	}

	i.fa {
		font-size: 2rem;
		position: absolute;
		right: 0.5rem;
		top: 0.1rem;
		color: #27ae60;
	}
}

.input-container {
	font-size: 1rem;
	margin-top: 1rem;
	label {
		padding: 0.5rem 1rem;
	}

	input {
		font-size: 1rem;
		width: 100%;
		margin: 1rem 0 0.5rem;
		padding: 1rem;
	}

	.input-container__error {
		color: #9f2222;
		font-size: 0.75rem;
		display: block;
		text-align: right;
		padding-right: 0.2rem;
	}
}
.form-buttons {
	text-align: center;
	margin: 2rem 0;
	button {
		background: #27ae60;
		border: 0;
		color: white;
		font-size: 2rem;
		padding: 0.5rem 1rem;
		border-radius: 1rem;
		margin-right: 2rem;
		i {
			margin-right: 1rem;
		}
	}

	a {
		font-size: 0.75rem;
		border-bottom: 1px solid #333;
	}
}
body {
  background: $background;
  font-family: "Helvetica Neue", serif;
	font-size: 10px;
	color: #333;
}


